<div class="list-group">
    <a routerLink="/category/{{category.id}}"  *ngFor ="let category of bookCategories" class="list-group-item" 
    routerLinkActive="bg-primary text-white font-weight-bold">{{category.categoryName}}</a>
    <!-- <a routerLink="/category/2" class="list-group-item" routerLinkActive="bg-primary text-white font-weight-bold">Programming</a>
    <a routerLink="/category/3" class="list-group-item" routerLinkActive="bg-primary text-white font-weight-bold">Databases</a> -->

  </div>